<!DOCTYPE html>
<html lang="en">

<body>
<!-- ------- footer ------- -->
<div th:fragment="footer">
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Thông Tin Liên Hệ</h3>
                    <p>ezwashcontact@gmail.com</p>
                </div>
                <div class="footer-col-2">
                    <img th:src="@{/images/logo-white.png}">
                    <p>WashWiz là một dịch vụ chuyên nghiệp được tạo ra<br>nhầm để đáp ứng nhu cầu giặt giũ trong cuộc sống bộn bề ngày nay.</p>
                </div>
<!--                <div class="footer-col-3">-->
<!--                    <h3>Useful Links</h3>-->
<!--                    <ul>-->
<!--                        <li>Coupons</li>-->
<!--                        <li>Blog Post</li>-->
<!--                        <li>Return Policy</li>-->
<!--                        <li>Jon Affiliate</li>-->
<!--                    </ul>-->
<!--                </div>-->
                <div class="footer-col-4">
                    <h3>Theo Dõi Chúng Tôi</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Tiktok</li>
                    </ul>
                </div>
            </div>
            <hr>
            <p class="copyright">Copyright 2024 - WashWiz</p>
        </div>
    </div>
</div>
<!-- -------End footer ------- -->
</body>
</html>